<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .ng-invalid {
            border-color: red !important;
        }
        .ng-invalid:focus {
            box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(255,0,0,0.6) !important;
        }
    </style>
    <title></title>
</head>
<body xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Calc">
<adminnav></adminnav>
<div ng-controller="SettingsController" class="container">
    <form name="form" class="form-vertical">
        <fieldset>
            <legend>Админка</legend>
            <div class="row">
                <div class="span4">
                    <label>
                        Скидки
                        <br>
                        <textarea rows="10" validate="discT.error"
                                  style="width: 100%; text-align: right;"
                                  ng-model="discT.encoded" ng-change="discT.read()"></textarea>
                    </label>
                </div>
                <div class="span3 text-error" ng-show="discT.error"
                     style="white-space: pre-line">
                    Ошибка: {{ discT.error }}</div>
            </div>
            <label>Курс доллара
                <span class="input-append">
                    <input type="text" ng-model="data.currency.rate" class="input-mini"
                           style="text-align: right" smartfloat>
                    <span class="add-on">р.</span>
                </span>
            </label>
            <button class="btn btn-primary" ng-click="save()"
                    ng-disabled="form.$invalid || s.busy">Сохранить</button>
            <p ng-show="s.result=='success'" class="text-success">
                Сохранено
            </p>
            <p ng-show="s.result=='failure'" class="text-failure">
                Ошибка
            </p>
        </fieldset>
    </form>
    <form>
        <fieldset>
            <label>
                Предыдущие версии
                <select ng-change="load(previousVersion)" ng-model="previousVersion">
                    <option></option>
                    <option ng-repeat="v in previousVersions" value="{{v.id}}">
                        {{ v.time }}
                    </option>
                </select>
            </label>
        </fieldset>
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
<script src="jsdeps/ui-bootstrap-tpls-0.3.0.min.js"></script>
<script src="jsdeps/localStorageModule.js"></script>
<script src="controller.js"></script>
</body>
</html>