<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js"></script>
    <script src="controller.js"></script>
    <link href="style.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <div xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Calc">
        <div ng-controller="CalcController">
            <button style="position: absolute; top: 20px; right: 5%;"
                    ng-click="reset()"><i class="icon-trash"></i> Сбросить калькулятор</button>
            <table id="windowsList" class="selector">
                <tr>
                    <td ng-repeat="window in windows" class="windowSelector">
                        <button class="windowSelector" ng-click="selectWindow($index)"
                           ng-disabled="window == currentWindow">
                            <!--<div>{{window.name}}</div>-->
                            <table class="windowImage">
                                <tr>
                                    <td>&nbsp;</td>
                                    <td ng-show="window.type == '2p' || window.type == '3p'">&nbsp;</td>
                                    <td ng-show="window.type == '3p'">&nbsp;</td>
                                </tr>
                                <tr style="background-color: white;" ng-show="window.type == 'door'">
                                    <td>&nbsp;</td>
                                    <td ng-show="window.type == '2p' || window.type == '3p'">&nbsp;</td>
                                    <td ng-show="window.type == '3p'">&nbsp;</td>
                                </tr>
                            </table>
                        </button>
                    </td>
                    <td class="windowSelector">
                        <button ng-click="newWindow()"><i class="icon-plus-sign"></i> Добавить окно</button>
                    </td>
                </tr>
            </table>
            <hr>
            <form class="form-inline">
                <!--<input type="text" ng-model="currentWindow.name">-->
                <!--<button ng-click="removeWindow(currentWindow)"><i class="icon-trash"></i> Удалить окно</button>-->
            </form>

            Тип:
            <div class="input-append">
                <button class="btn"
                        ng-click="currentWindow.type='1p'"
                        ng-disabled="currentWindow.type=='1p'"
                        >1</button>
                <button class="btn"
                        ng-click="currentWindow.type='2p'"
                        ng-disabled="currentWindow.type=='2p'"
                        >2</button>
                <button class="btn"
                        ng-click="currentWindow.type='3p'"
                        ng-disabled="currentWindow.type=='3p'"
                        >3</button>
                <button class="btn"
                        ng-click="currentWindow.type='door'"
                        ng-disabled="currentWindow.type=='door'"
                        >Дверь</button>
            </div><br>

            <!-- Изображение окна -->
            <table id="fullWindowImage"
                   width="{{currentWindow.width*3}}px" height="{{currentWindow.height*3}}px">
                <tr class="fullWidthSelector">
                    <td rowspan="2">
                        <label><input type="number" class="span1"
                                      ng-model="currentWindow.height" > см</label>
                    </td>
                    <td colspan="{{currentWindow.getActivePanes().length}}">
                        <label><input type="number" class="span1"
                                      ng-model="currentWindow.width" > см</label>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="pane in currentWindow.getActivePanes()" class="pane">
                        <!--<label><input type="number" class="span1" ng-model="pane.width"
                                > см</label>-->
                    </td>
                </tr>
            </table><br>


            Ламинация
            <div class="input-append">
                <button class="btn" ng-click="currentWindow.laminate=0"
                        ng-disabled="currentWindow.laminate==0"
                        >нет</button>
                <button class="btn"
                        ng-click="currentWindow.laminate=1"
                        ng-disabled="currentWindow.laminate==1"
                        >односторонняя</button>
                <button class="btn"
                        ng-click="currentWindow.laminate=2"
                        ng-disabled="currentWindow.laminate==2"
                        >двусторонняя</button>
            </div><br>

            Профили
            <div class="input-append">
                <button class="btn"
                        ng-click="currentWindow.profile=1"
                        ng-disabled="currentWindow.profile==1"
                        >0%</button>
                <button class="btn"
                        ng-click="currentWindow.profile=2"
                        ng-disabled="currentWindow.profile==2"
                        >10%</button>
                <button class="btn"
                        ng-click="currentWindow.profile=3"
                        ng-disabled="currentWindow.profile==3"
                        >50%</button>
            </div><br>

            Стеклопакет
            <div class="input-append">
                <button class="btn"
                        ng-click="currentWindow.steklopaket=1"
                        ng-disabled="currentWindow.steklopaket==1"
                        >1</button>
                <button class="btn"
                        ng-click="currentWindow.steklopaket=2"
                        ng-disabled="currentWindow.steklopaket==2"
                        >2</button>
                надбавка {{{1:20, 2:30}[currentWindow.steklopaket]}}
            </div>
            <!--
            <div ng-show="currentWindow.getSizeError() != 0" class="text-error">
                Ошибка {{currentWindow.getSizeError()}}<br>
            </div>
-->

            <hr>
            <h2>Раcчет</h2>
            Площадь {{currentWindow.height * currentWindow.width / 1000000}} м<sup>2</sup><br>
            Длина импостов {{currentWindow.getImpostsLength()}} см<br>
            Длина отливов, подоконников {{{true:0, false:currentWindow.width}[currentWindow.type == 'door']}} см<br>
            Длина откосов {{2 * currentWindow.height + currentWindow.width}} см<br>
            Рама: {{currentWindow.height + currentWindow.width}}<br>
            Цена: {{currentWindow.getTotalSelfPrice()}}<br>
            getFramePrice: {{currentWindow.getFramePrice()}}<br>
            getImpostsLength: {{currentWindow.getImpostsLength()}}<br>
            getImpostsPrice: {{currentWindow.getImpostsPrice()}}<br>
            getShtulpPrice: {{currentWindow.getShtulpPrice()}}<br>
            getStvorkiAndFramugiWidth: {{currentWindow.getStvorkiAndFramugiWidth()}}<br>
            getStvorkiAndFramugiPrice: {{currentWindow.getStvorkiAndFramugiPrice()}}<br>
            getAreaRaise: {{currentWindow.getAreaRaise()}}<br>
            getSandwichPrice: {{currentWindow.getSandwichPrice()}}<br>
            getGlassPrice: {{currentWindow.getGlassPrice()}}<br>
            getTotalSelfPrice: {{currentWindow.getTotalSelfPrice()}}<br>



            <hr>
            {{windows.toSource()}}
        </div>
    </div>
</body>
</html>