<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title></title>
</head>
<body xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Calc">
<div ng-controller="CalcController" class="container" id="ctrl">
    <div>
        <div class="row">
            <div class="span9">
                <ul class="nav nav-tabs">
                    <li ng-repeat="window in windows"
                        ng-class="{active: window == currentWindow}"
                        ng-click="selectWindow($index)" >
                        <a>
                            <div class="thumbImage">
                                <div ng-show="window.type == 'door'"
                                     class="doorThumbImage"></div>
                                <div ng-repeat="pane in window.getActivePanes()"
                                     class="paneThumbType"
                                     ng-class="{solid: 'paneThumbTypeSolid', rot: 'paneThumbTypeRot', rotdrop: 'paneThumbTypeRotdrop'}[pane.type]"
                                ></div>
                            </div>
                            <div ng-hide="window.$$errors.hasSome">
                                {{window.getTotalPrice() | currency}}
                                <span ng-show="window.quantity > 1">x {{window.quantity}} = {{window.getTotalPrice() * window.quantity | currency}}</span>
                            </div>
                            <div ng-show="window.$$errors.hasSome" class="text-error">
                                Заполнено неверно.
                            </div>
                        </a>
                    </li>
                    <li ng-click="newWindow()"><a><i class="icon-plus-sign"></i></a></li>
                </ul>

                    <div class="span8">
                        <div id="productTypeSelector">
                                Тип:
                                <div class="item">
                                    <a ng-click="currentWindow.setType('1p')"
                                       ng-class="{'selected':true}[currentWindow.type=='1p']"
                                            ><img alt="Одностворчатое окно"
                                                  title="Одностворчатое окно"
                                                  src="img/window1Pthumb.png"></a>
                                </div>
                                <div class="item">
                                    <a ng-click="currentWindow.setType('2p')"
                                       ng-disabled="currentWindow.type=='2p'"
                                            ><img alt="Двустворчатое окно"
                                                  title="Двуостворчатое окно"
                                                  src="img/window2Pthumb.png"></a>
                                </div>
                                <div class="item">
                                    <a ng-click="currentWindow.setType('3p')"
                                       ng-disabled="currentWindow.type=='3p'"
                                            ><img alt="Трехстворчатое окно"
                                                  title="Трехстворчатое окно"
                                                  src="img/window3Pthumb.png"></a>
                                </div>
                                <div class="item">
                                    <a ng-click="currentWindow.setType('door')"
                                       ng-disabled="currentWindow.type=='door'"
                                            ><img alt="Балконная дверь"
                                                  title="Балконная дверь"
                                                  src="img/doorthumb.png"></a>
                                </div>
                            </div>
                        <br>
                        <div class="text-info"
                                >Все размеры указываются в миллиметрах</div>
                        <br>
                        <!-- Изображение окна -->
                            <table id="fullWindowImage" ng-show="{'1p': true,'2p': true,'3p': true}[currentWindow.type]">
                                <tr>
                                    <td></td>
                                    <td colspan="{{currentWindow.getActivePanes().length}}"
                                        class="windowWidthSelector"
                                        ng-class="{true:'myError'}[currentWindow.$$errors.widthError]">
                                        <input type="number" class="dimension" ng-model="currentWindow.width"
                                               ng-change="currentWindow.recalculateWidth()"
                                               ng-class="{myError:currentWindow.$$errors.errors.paneWindowWidthMismatch}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="windowHeightSelector">
                                        <input type="number" class="dimension"
                                               ng-model="currentWindow.height">
                                    </td>
                                    <td ng-repeat="pane in currentWindow.getActivePanes()"
                                        ng-class="{solid: 'paneTypeSolid', rot: 'paneTypeRot', rotdrop: 'paneTypeRotdrop'}[pane.type]"
                                        title="{{{solid: 'Глухая створка', rot: 'Поворотная створка', rotdrop: 'Поворотно-откидная створка'}[pane.type]}}"
                                        class="paneType" ng-click="paneTypeSelector.open(pane)">

                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td ng-repeat="pane in currentWindow.getActivePanes()"  class="paneWidthSelector">
                                        <input type="number" class="dimension" ng-model="pane.width" ng-readonly="$last"
                                               ng-change="currentWindow.recalculateWidth()"
                                               ng-class="{true:'myError'}[currentWindow.$$errors.paneErrors[$index]]">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td ng-repeat="pane in currentWindow.getActivePanes()"  class="panesAccessories">
                                        <div ng-show="pane.type=='rot' || pane.type=='rotdrop'" style="text-align: center">
                                            <!--<label><input type="checkbox" ng-model="pane.key"> ручка с ключом</label>-->
                                            <label><input type="checkbox" ng-model="pane.net"> москитная сетка</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-error"
                                 ng-show="currentWindow.$$errors.errors.paneTooSmall"
                                    >Ширина створки должна быть не меньше 100мм.</div>
                            <div class="text-error"
                                 ng-show="currentWindow.$$errors.errors.paneWindowWidthMismatch"
                                    >Общая ширина створок больше ширины окна</div>
                        <!-- Изображение двери -->
                        <table ng-show="currentWindow.type == 'door'">
                            <tr>
                                <td></td>
                                <td class="doorWidthSelector">
                                    <input type="number" class="dimension" ng-model="currentWindow.width">
                                </td>
                            </tr>
                            <tr>
                                <td class="doorHeightSelector">
                                    <input type="number" class="dimension"
                                           ng-model="currentWindow.height">
                                </td>
                                <td class="doorImage"></td>
                            </tr>
                        </table>

                        <br>

                        <label>Подоконники
                            <!-- ng-select не смог заставить работать -->
                        <select ng-model="currentWindow.podokonniki.type" class="span3">
                            <option value="0">100мм</option>
                            <option value="1">150мм</option>
                            <option value="2">200мм</option>
                            <option value="3">250мм</option>
                            <option value="4">300мм</option>
                            <option value="5">350мм</option>
                            <option value="6">400мм</option>
                            <option value="7">450мм</option>
                            <option value="8">500мм</option>
                            <option value="9">550мм</option>
                            <option value="10">600мм</option>
                        </select>
                        <span class="input-append">
                            <button class="btn" ng-click="currentWindow.podokonniki.madeIn='rus'"
                                    ng-disabled="currentWindow.podokonniki.madeIn=='rus'"
                                    >Россия</button>
                            <button class="btn" ng-click="currentWindow.podokonniki.madeIn='imp'"
                                    ng-disabled="currentWindow.podokonniki.madeIn=='imp'"
                                    >Импорт</button>
                        </span></label>

                        <label>Отливы белые
                            <!-- ng-select не смог заставить работать -->
                            <select ng-model="currentWindow.otlivy.type" class="span3">
                                <option value="0">0-110мм</option>
                                <option value="1">110-150мм</option>
                                <option value="2">151-180мм</option>
                                <option value="3">181-200мм</option>
                                <option value="4">201-206мм</option>
                                <option value="5">261-280мм</option>
                                <option value="6">281-310мм</option>
                                <option value="7">311-340мм</option>
                                <option value="8">341-420мм</option>
                            </select></label>


                        Ламинация
                        <div class="input-append">
                            <button class="btn" ng-click="currentWindow.laminate=0"
                                    ng-disabled="currentWindow.laminate==0"
                                    >нет</button>
                            <button class="btn"
                                    ng-click="currentWindow.laminate=1"
                                    ng-disabled="currentWindow.laminate==1"
                                    >односторонняя</button>
                            <button class="btn"
                                    ng-click="currentWindow.laminate=2"
                                    ng-disabled="currentWindow.laminate==2"
                                    >двусторонняя</button>
                        </div>
                        <label>Количество
                            <input type="number" class="input-mini"
                                   min="1"
                                   ng-model="currentWindow.quantity"><br>
                        </label>
                        <div>
                            <button class="btn btn-danger"
                                    ng-click="removeWindowConfirm(currentWindow)"><i class="icon-trash"></i> Удалить изделие</button>
                        </div>
                </div>
            </div>

            <div class="span3">
                <div ng-hide="hasErrors()">
                    <h4>Окна и двери: {{getTotalWindowsPrice() | currency}}</h4>
                    <h4>Аксессуары: {{getAccessoryPrice() | currency}}</h4>
                    <h4>Работы (монтаж, доставка): {{getWorksPrice() | currency}}</h4>
                    <h3>Общая сумма: {{getTotalPrice () | currency}}</h3>
                    <button class="btn btn-large btn-primary" style="width: 100%;">Заказ</button>
                </div>
                <div class="text-error" ng-show="hasErrors()">
                    Для рассчета исправьте ошибки.
                </div>
            </div>
        </div>
    </div>

    <div modal="confirm.isOpen" close="confirm.close()" options="confirm.options">
        <div class="modal-header">{{confirm.message}}</div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="confirm.confirm()">Да</button>
            <button class="btn btn-primary cancel" ng-click="confirm.close()">Нет</button>
        </div>
    </div>
    <div modal="paneTypeSelector.isOpen" close="paneTypeSelector.close()" options="paneTypeSelector.options">
        <div class="modal-header">
            <h4>Тип створки:
                {{{solid: 'глухая', rot: 'поворотная', rotdrop: 'поворотно-откидная'}[paneTypeSelector.hoverType]}}</h4>
        </div>
        <div class="modal-body">
            <ul class="thumbnails">
                <li>
                    <a class="thumbnail" ng-click="paneTypeSelector.select('solid')"
                       ng-mouseover="paneTypeSelector.hover('solid')">
                        <img src="img/paneSolid_h240.png" alt="Глухая створка">
                    </a>
                </li>
                <li>
                    <a class="thumbnail"  ng-click="paneTypeSelector.select('rot')"
                       ng-mouseover="paneTypeSelector.hover('rot')">
                        <img src="img/paneRotL_h240.png" alt="Поворотная створка">
                    </a>
                </li>
                <li>
                    <a class="thumbnail"  ng-click="paneTypeSelector.select('rotdrop')"
                       ng-mouseover="paneTypeSelector.hover('rotdrop')">
                        <img src="img/paneRotDropL_h240.png" alt="Поворотно-откидная створка">
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="paneTypeSelector.close()"
                    >Отмена</button>
        </div>
    </div>
    <!--
    <pre>
    {{stateHelper()}}
        </pre>-->
</div>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js"></script>
<script src="jsdeps/ui-bootstrap-tpls-0.3.0.min.js"></script>
<script src="controller.js"></script>
</body>
</html>