#windowsList {height: 100px;}
body {margin-left: 5%; margin-right: 5%;}
td.windowSelector {width: 120px;}
td.windowSelector button {width: 110px;}
a {cursor: pointer;}
.selector a.selected  {color: red;}

table.windowImage
{
    width: 70px;
    height: 50px;
    background-color:lightblue;
    border: 1px solid black;
}
table.windowImage td { border: 1px solid black; }

.paneWidthSelector
{
    background-image: url('img/arrowH130.png');
    background-position: center;
    background-repeat: no-repeat;
}
.windowWidthSelector
{
    background-position: center;
    background-repeat: no-repeat;
}
.windowHeightSelector
{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/arrowV240.png');
}
td[colspan="1"].windowWidthSelector{ background-image: url("img/arrowH130.png"); }
td[colspan="2"].windowWidthSelector{ background-image: url("img/arrowH260.png"); }
td[colspan="3"].windowWidthSelector{ background-image: url("img/arrowH390.png"); }

.paneType { width: 130px; height: 241px; cursor: pointer; }
.paneTypeSolid {background-image: url('img/wnd_0.png');}
.paneTypeRot {background-image: url('img/wnd_2.png');}
.paneTypeRotdrop {background-image: url('img/wnd_4.png');}

.dimension {
    width: 40px;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0;
    text-align: center;
}