#windowsList {height: 100px;}
body {margin-left: 5%; margin-right: 5%;}
td.windowSelector {width: 120px;}
td.windowSelector button {width: 110px;}
a {cursor: pointer;}
.selector a.selected  {color: red;}

table.windowImage
{
    width: 70px;
    height: 50px;
    background-color:lightblue;
    border: 1px solid black;
}
table.windowImage td { border: 1px solid black; }


#fullWindowImage td.pane  { border: 1px solid black; background-color:lightblue; }
#fullWindowImage tr.fullWidthSelector {
    height: 20px;
    text-align: center;
}